extends layout

block content
  h1 #{title}
  p I #{title} Dikshant iOS  and Kotlin Enthusiast love to program and manage program. Currently enreolled in computer programming at Georgian and like Project management .